.containerbox {
  border: dotted;
}

.navigationbar {
  width : 100%;
  margin-bottom: 50px;
}

.todaypatient{
  width : 50%;
}

.pastrecords{
  width : 50%;
}

.patient-table {
    width: 100%;
  }
  
  .patient-table th,
  .patient-table td {
    font-size: 14px;
    padding: 8px;
  }
  
  .past-records-table {
    width: 100%;
  }
  
  .past-records-table th,
  .past-records-table td {
    font-size: 14px;
    padding: 8px;
  }

  
  .todaypatient_box{
    border: solid;
}

  .test-box{
    margin-left: 40px;
    border: solid;
  }
  
  .todaypatient_patientinfo{
    margin : 50px;
  }